/* line 4, ../sass/partials/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 8, ../sass/partials/_base.scss */
*:focus {
  outline: none;
}

/* line 13, ../sass/partials/_base.scss */
html {
  font-family: 'Poppins', sans-serif;
  background: #CDDEAF;
  color: #A4C46D;
}

/* line 19, ../sass/partials/_base.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 24, ../sass/partials/_base.scss */
main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 31, ../sass/partials/_base.scss */
#wrapper {
  background-color: #CDDEAF;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* line 1, ../sass/partials/_buttons.scss */
.btn {
  border: none;
  text-align: center;
  border-radius: 10px;
}

/* line 7, ../sass/partials/_buttons.scss */
.btn-default {
  background-color: #A4C46D;
  color: #e8f0da;
}
/* line 11, ../sass/partials/_buttons.scss */
.btn-default:hover {
  background-color: #bbd391;
}
/* line 14, ../sass/partials/_buttons.scss */
.btn-default:active {
  background-color: #c6daa3;
}

/* line 19, ../sass/partials/_buttons.scss */
.btn-control {
  width: 72px;
  height: 72px;
  font-size: 3em;
}

/* line 25, ../sass/partials/_buttons.scss */
.btn-center {
  margin: 0 18pt;
}

/* line 29, ../sass/partials/_buttons.scss */
.btn-stop-pause {
  width: 49%;
  height: 80px;
  font-size: 2em;
  padding: 0;
}

/* line 36, ../sass/partials/_buttons.scss */
#btn-start {
  font-size: 2em;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  height: 80px;
}

/* line 44, ../sass/partials/_buttons.scss */
#btn-stop {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #E4572E;
  color: #f6c4b5;
}
/* line 50, ../sass/partials/_buttons.scss */
#btn-stop:hover {
  background-color: #ea7b5b;
}
/* line 53, ../sass/partials/_buttons.scss */
#btn-stop:active {
  background-color: #ed8d72;
}

/* line 58, ../sass/partials/_buttons.scss */
#btn-pause {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #FFC914;
  color: #ffecad;
}
/* line 64, ../sass/partials/_buttons.scss */
#btn-pause:hover {
  background-color: #ffd547;
}
/* line 67, ../sass/partials/_buttons.scss */
#btn-pause:active {
  background-color: #ffdb61;
}

/* line 7, ../sass/styles.scss */
#nav-links {
  padding: 40px 0 0 80px;
}
/* line 9, ../sass/styles.scss */
#nav-links a {
  color: #A4C46D;
  font-size: 2em;
  text-shadow: 0px -1px 0px #A4C46D;
  padding-right: 30px;
  text-decoration: none;
}
/* line 15, ../sass/styles.scss */
#nav-links a:hover {
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  color: #e8f0da;
  text-shadow: 0px -1px 0px #e8f0da;
}

/* line 24, ../sass/styles.scss */
#timer-wrapper {
  margin: 0 auto;
}
/* line 27, ../sass/styles.scss */
#timer-wrapper .timer-text {
  font-size: 4em;
}
/* line 31, ../sass/styles.scss */
#timer-wrapper .row {
  text-align: center;
}
/* line 34, ../sass/styles.scss */
#timer-wrapper .row .timer-int {
  display: inline-block;
  width: 82px;
}

/* line 41, ../sass/styles.scss */
#stoppause-control {
  margin-top: 20px;
  display: none;
}
