@import "compass";
@import "compass/css3/transition";
@import "partials/base";
@import "partials/variables";
@import "partials/buttons";

#nav-links {
    padding: 40px 0 0 80px;
    a {
        color: $defaultcolor;
        font-size: 2em;
        @include default-shadow($defaultcolor);
        padding-right: 30px;
        text-decoration: none;
        &:hover {
            @include transition(all 150ms linear);
            color: lighten($defaultcolor, 30%);
            @include default-shadow(lighten($defaultcolor, 30%));
        }
    }
}


#timer-wrapper {
    margin: 0 auto;

    .timer-text {
        font-size: 4em;
    }

    .row {
        text-align: center;

        .timer-int {
            display: inline-block;
            width: 82px;
        }
    }
}

#stoppause-control {
    margin-top: 20px;
    display: none;
}
