{% extends "layout.html" %}

{% block content %}
<div id="timer-wrapper">
    <div class="row">
        <button class="btn btn-default btn-control">+</button>
        <button class="btn btn-default btn-control btn-center">+</button>
        <button class="btn btn-default btn-control">+</button>
    </div>
    <div class="row timer-text">00:00:00</div>
    <div class="row">
        <button class="btn btn-default btn-control">-</button>
        <button class="btn btn-default btn-control btn-center">-</button>
        <button class="btn btn-default btn-control">-</button>
    </div>
</div>
{% endblock %}
