{% extends "layout.html" %}

{% block content %}
    <div id="timer-container">
        <form>
            <div id="timer-panel">
                <div class="time-block">
                    <button class="btn-control btn-default">^</button>
                    <span class="timer-time">00</span>
                    <button class="btn-control btn-default">^</button>
                </div>
                <span class="colon">:</span>

                <div class="time-block">
                    <button class="btn-control btn-default">^</button>
                    <span class="timer-time">00</span>
                    <button class="btn-control btn-default">^</button>
                </div>
                <span class="colon">:</span>

                <div class="time-block">
                    <button class="btn-control btn-default">^</button>
                    <span class="timer-time">00</span>
                    <button class="btn-control btn-default">^</button>
                </div>
            </div>
            <button type="button" id="start-timer" class="btn-default">
                Start Timer
            </button>
        </form>
    </div>
{% endblock %}
