<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

    <title>{{ title }}</title>
</head>

<body>
    <div id="wrapper">
        <nav role="navigation">
            <div id="nav-links" class="row">
                <a href="#home">HOME</a>
                <a href="#whatever">WHATEVER</a>
            </div>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

</html>
